.edit-message-modal {
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 100;

    backdrop-filter: blur(1.5px);

    display: none;

    justify-content: center;
    align-items: center;
}

.modal-shown {
    display: flex;
    flex-direction: column;
}

.edit-message-modal-form {
    max-width: 260px;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;

    position: relative;

    background-color: #F2F2F2;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 4px 1px -1px #539BF7;

    &__close {
        position: absolute !important;

        top: 10%;
        left: 99%;

        transform: translateX(-100%);
    }

    &__input {
        margin-top: 10px;
    }

    &__button {
        margin-top: 12px;
    }
}

.edit-message-modal-form-title {
    font-size: 16px;
    font-weight: normal;
    color: #111;
}

.edit-message-input {
    height: 25px;
    width: 100%;

    padding: 0 2px;

    background-color: transparent;
    border-bottom: 2px solid #dbdbdb;
    box-shadow: 0 3px 2px -5px #F2F2F2;

    font-size: 16px;
    color: #111;
}

.edit-message-button {
    align-self: flex-end;
    padding: 2px 14px;

    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    background-color: #dbdbdb;

    color: #111;
    cursor: pointer;
    transition: background-color .08s ease;

    &:hover {
        background-color: #d3d3d3;
    }
}