.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 12px;

    height: 40px;
    border-bottom: 2px solid #a9bbd1;
    background-color: #539BF7;

    color: #fff;

    &__users-count {
        margin-left: 35px;

        @media(max-width: 425px) {
            margin-left: 10px;
        }
    }

    &__messages-count {
        margin-left: 12px;
        margin-right: 20px;
    }
}

.header-main {
    display: flex;
}

.header-icon {
    width: 16px;
    fill: rgba(255, 255, 255, 1);
    filter: drop-shadow( 0px 0px 2px rgba(8, 63, 134, 0.1));
}

.header-title {
    display: flex;
    white-space: nowrap;

    &__icon {
        margin-right: 10px;
    }
}

.header-title-text {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .035em;

    @media(max-width: 425px) {
        display: none;
    }
}

.header-users-count {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 5px;
        flex-shrink: 0;;
    }
}

.header-messages-count {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 5px;
    }
}

.header-date-info {
    display: flex;
    text-align: right;

    &__icon {
        margin-left: 10px;

        @media(max-width: 425px) {
            display: none;
        }
    }
}

.header-last-message-date {
    white-space: nowrap;
}