.message-input {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 55px;
    padding: 10px 12px;

    border-top: 2px solid #a9bbd1;
    background-color: rgba(0, 0, 0, .05);

    &__button {
        margin-left: 15px;
    }
}

.message-input-label {
    flex-grow: 1;
}

.message-input-text {
    width: 100%;
    height: 100%;
    padding: 0 10px;

    font-size: 16px;

    background-color: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.message-input-button {
    width: 50px;

    border-radius: 2px;
    background-color: #539BF7;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

    color: #fff;

    transition: background-color .08s ease;
    cursor: pointer;

    &:hover {
        background-color: #3e8ef7;
    }

    &:focus {
        background-color: #267ef1;
    }
}